@page "/Productos"
@rendermode InteractiveServer
@inject ProductosService productosService
@inject NavigationManager navigation

<PageTitle>Productos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Productos</strong></h3>
			<button type="button" class="btn btn-outline-primary" @onclick="IrACrear"><i class="bi bi-plus-circle" /> Crear</button>
		</div>
		@*Body*@
		<div class="card-body">
			@if (loading)
			{
				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info">
					</div>
				</div>
			}
			else if (productos.Count == 0)
			{
				<h1 class="miMensaje"><i class="bi bi-exclamation-triangle" /> No hay productos creados</h1>
			}
			else
			{
				@*Campos a Filtrar*@
				<div class="mb-3">
					<div class="row align-items-center">
						<label class="form-label" for="filtro"><strong>Campo a Filtrar:</strong></label>
						<div class="col-3">
							<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
								<option selected disabled>Elije una opci&oacute;n</option>
								<option value="id">Id</option>
								<option value="nombre">Nombre</option>
								<option value="descripcion">Descripci&oacute;n</option>
							</InputSelect>
						</div>
						<div class="col-auto miFlecha">
							<p>→</p>
						</div>
						<div class="col-4">
							<div class="input-group">
								<InputText class="form-control" @bind-Value="valorFiltro" placeholder="Ingrese un dato para filtrar"></InputText>
								<button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="bi bi-search" /></button>
							</div>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-secondary" @onclick="Restablecer"><i class="bi bi-arrow-clockwise" /> Restablecer</button>
						</div>
					</div>
				</div>

				<table class="table table-bordered miTabla">
					<thead>
						<tr>
							<th>ProductoId</th>
							<th>Nombre</th>
							<th>Descripci&oacute;n</th>
							<th>Cantidad</th>
							<th>Costo</th>
							<th>Porcentaje de Ganancia</th>
							<th>Precio de Venta</th>
							<th>Actividades</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var producto in productos)
						{
							<tr>
								<td>@producto.ProductoId</td>
								<td>@producto.Nombre</td>
								<td>@producto.Descripcion</td>
								<td>@producto.Cantidad</td>
								<td>@producto.Costo.ToString("N2")</td>
								<td>@producto.PorcentajeGanancia%</td>
								<td>@producto.PrecioVenta.ToString("N2")</td>
								<td>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-outline-info" @onclick="()=> IrADetalles(producto.ProductoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
											<i class="bi bi-eye"></i>
										</button>

										<button type="button" class="btn btn-outline-warning" @onclick="()=> IrAEditar(producto.ProductoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
											<i class="bi bi-pencil-square"></i>
										</button>
										<button type="button" class="btn btn-outline-danger" @onclick="()=> IrAEliminar(producto.ProductoId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
											<i class="bi bi-trash3-fill"></i>
										</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		<div class="card-footer">
			<p><strong>Total de Productos:</strong> @productos.Count</p>
		</div>
	</div>
</div>

@code {
	public List<Productos> productos = new List<Productos>();
	public string filtro { get; set; }
	public string valorFiltro { get; set; }
	public string mensaje { get; set; }
	public bool loading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		productos = await productosService.Listar(e => true);

		loading = false;

		if (productos.Count == 0)
			StateHasChanged();
	}

	public async Task Buscar()
	{
		List<Productos> resultado = new List<Productos>();

		var productosList = await productosService.Listar(e => true);

		switch (filtro)
		{
			case "id":
				if (int.TryParse(valorFiltro, out int id))
				{
					resultado = productosList.Where(e => e.ProductoId == id).ToList();
				}
				break;
			case "nombre":
				resultado = productosList.Where(e =>
					e.Nombre.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
				break;
			case "descripcion":
				resultado = productosList.Where(e =>
					e.Descripcion.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
				break;
		}

		if (resultado == null || resultado.Count == 0)
			mensaje = "No se encontraron productos con el filtro especificado.";

		else
		{
			productos = resultado;
			mensaje = string.Empty;
		}

		StateHasChanged();
	}

	public async Task Restablecer()
	{
		productos = await productosService.Listar(e => true);
	}

	public void IrACrear()
	{
		navigation.NavigateTo("/CreateProductos");
	}

	public void IrADetalles(int id)
	{
		navigation.NavigateTo($"/ViewProductos/productoId={id}");
	}

	public void IrAEditar(int id)
	{
		navigation.NavigateTo($"/EditProductos/productoId={id}");
	}

	public void IrAEliminar(int id)
	{
		navigation.NavigateTo($"/DeleteProductos/productoId={id}");
	}
}