@page "/Facturas"
@rendermode InteractiveServer
@inject FacturasService facturasService
@inject NavigationManager navigation

<PageTitle>Facturas</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Facturas</strong></h3>
			<button type="button" class="btn btn-outline-primary" @onclick="IrACrear"><i class="bi bi-plus-circle" /> Crear</button>
		</div>
		@*Body*@
		<div class="card-body">
			@if (loading)
			{
				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info">
					</div>
				</div>
			}
			else if (facturas.Count == 0)
			{
				<h1 class="miMensaje"><i class="bi bi-exclamation-triangle" /> No hay facturas creadas</h1>
			}
			else
			{
				@*Campos a Filtrar*@
				<div class="mb-3">
					<div class="row align-items-center">
						<label class="form-label" for="filtro"><strong>Campo a Filtrar:</strong></label>
						<div class="col-3">
							<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
								<option selected disabled>Elije una opci&oacute;n</option>
								<option value="id">Id</option>
								<option value="nombre">Nombre</option>
								<option value="descripcion">Descripci&oacute;n</option>
							</InputSelect>
						</div>
						<div class="col-auto miFlecha">
							<p>→</p>
						</div>
						<div class="col-4">
							<div class="input-group">
								<InputText class="form-control" @bind-Value="valorFiltro" placeholder="Ingrese un dato para filtrar"></InputText>
								<button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="bi bi-search" /></button>
							</div>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-secondary" @onclick="Restablecer"><i class="bi bi-arrow-clockwise" /> Restablecer</button>
						</div>
					</div>
				</div>

				<table class="table table-bordered miTabla">
					<thead>
						<tr>
							<th>FacturaId</th>
							<th>Fecha</th>
							<th>Cliente</th>
							<th>Direcci&oacute;n</th>
							<th>Tel&eacute;fono</th>
							<th>Monto de Venta</th>
							<th>Actividades</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var factura in facturas)
						{
							<tr>
								<td>@factura.FacturaId</td>
								<td>@factura.FechaCreacion.ToShortDateString()</td>
								<td>@factura.NombreCliente</td>
								<td>@factura.Direccion</td>
								<td>@factura.Telefono</td>
								<td>@factura.FacturaDetalle.Sum(f => f.SubTotal + f.Impuesto).ToString("N2")</td>
								<td>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-outline-info" @onclick="()=> IrADetalles(factura.FacturaId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
											<i class="bi bi-eye"></i>
										</button>

										<button type="button" class="btn btn-outline-warning" @onclick="()=> IrAEditar(factura.FacturaId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
											<i class="bi bi-pencil-square"></i>
										</button>
										<button type="button" class="btn btn-outline-danger" @onclick="()=> IrAEliminar(factura.FacturaId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
											<i class="bi bi-trash3-fill"></i>
										</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		<div class="card-footer">
			<p><strong>Total de Facturas:</strong> @facturas.Count</p>
		</div>
	</div>
</div>

@code {
	public List<Facturas> facturas = new List<Facturas>();
	public string filtro { get; set; }
	public string valorFiltro { get; set; }
	public string mensaje { get; set; }
	public bool loading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		facturas = await facturasService.Listar(e => true);

		loading = false;

		if (facturas.Count == 0)
			StateHasChanged();
	}

	public async Task Buscar()
	{
		List<Facturas> resultado = new List<Facturas>();

		var facturasList = await facturasService.Listar(e => true);

		switch (filtro)
		{
			case "id":
				if (int.TryParse(valorFiltro, out int id))
				{
					resultado = facturasList.Where(e => e.FacturaId == id).ToList();
				}
				break;
			case "cliente":
				resultado = facturasList.Where(e =>
					e.NombreCliente.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
				break;
			// case "encargado":
			// 	resultado = facturasList.Where(e =>
			// 		e.NombreEncargado.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
			// 	break;
		}

		if (resultado == null || resultado.Count == 0)
			mensaje = "No se encontraron facturas con el filtro especificado.";

		else
		{
			facturas = resultado;
			mensaje = string.Empty;
		}

		StateHasChanged();
	}

	public async Task Restablecer()
	{
		facturas = await facturasService.Listar(e => true);
	}

	public void IrACrear()
	{
		navigation.NavigateTo("/CreateFacturas");
	}

	public void IrADetalles(int id)
	{
		navigation.NavigateTo($"/ViewFacturas/facturaId={id}");
	}

	public void IrAEditar(int id)
	{
		navigation.NavigateTo($"/EditFacturas/facturaId={id}");
	}

	public void IrAEliminar(int id)
	{
		navigation.NavigateTo($"/DeleteFacturas/facturaId={id}");
	}
}