@page "/ViewFacturas"
@page "/ViewFacturas/facturaId={facturaId:int}"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject FacturasService facturasService
@inject ProductosService productosService
@inject IJSRuntime JS

<PageTitle>Detalles de la Factura</PageTitle>
<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <div id="pdf-section">
            <div class="d-flex justify-content-between">
                <div>
                    <h1>Empresa XYZ</h1>
                    <p>Dirección: Calle Independencia #191</p>
                    <p>Teléfono: +123 456 789</p>
                    <p>Email: contacto@empresa.xyz</p>
                </div>
                <div>
                    <h1>Factura</h1>
                    <h5><strong>Factura ID:</strong> @factura.FacturaId</h5>
                    <h5><strong>Fecha de Emisión:</strong> @factura.FechaCreacion.ToShortDateString()</h5>
                    <h5><strong>Fecha de Vencimiento:</strong> 26/07/2024</h5>
                </div>
            </div>

            <hr />

            <div class="d-flex justify-content-between">
                <div>
                    <h5><strong>Cliente:</strong> @factura.NombreCliente</h5>
                    <p>Dirección: @factura.Direccion</p>
                    <p>Teléfono: @factura.Telefono</p>
                    <p>Email: @factura.Email</p>
                </div>
                <div>
                    <h5><strong>Encargado:</strong> Hector Ventura</h5>
                </div>
            </div>

            <hr />

            @if (factura.FacturaDetalle.Count > 0)
            {
                <table class="table table-striped mt-4">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio de Venta</th>
                            <th>ITBIS</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in factura.FacturaDetalle)
                        {
                            <tr>
                                <td>@ObtenerNombreProducto(detalle.ProductoId)</td>
                                <td>@detalle.Cantidad</td>
                                <td>@detalle.PrecioVenta</td>
                                <td>@detalle.Impuesto</td>
                                <td>@detalle.SubTotal</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col text-start">
                        <p><strong>Total de Productos: </strong>@factura.FacturaDetalle.Count</p>
                    </div>
                    <div class="col text-end">
                        <h5><strong>Subtotal:</strong> $@factura.FacturaDetalle.Sum(f => f.SubTotal).ToString("N2")</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <h5><strong>ITBIS:</strong> $@factura.FacturaDetalle.Sum(f => f.Impuesto).ToString("N2")</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <h5><strong>Total:</strong> $@factura.FacturaDetalle.Sum(f => f.SubTotal + f.Impuesto).ToString("N2")</h5>
                    </div>
                </div>
            }

            <hr />

            <div>
                <h5><strong>Condiciones de Pago:</strong> Pago debido en 30 días</h5>
                <h5><strong>Método de Pago:</strong> Transferencia bancaria, tarjeta de crédito</h5>
                <p><strong>Notas:</strong> Gracias por su negocio. Por favor, haga el pago antes de la fecha de vencimiento.</p>
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary me-2" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
            <button type="button" class="btn btn-outline-success" @onclick="Print"><i class="bi bi-printer" /> Imprimir</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int facturaId { get; set; }

    public Facturas factura { get; set; } = new Facturas();
    public List<Productos> productos = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        productos = await productosService.Listar(e => true);
        factura = await facturasService.Buscar(facturaId);
    }

    public string ObtenerNombreProducto(int id)
    {
        var dato = productos.FirstOrDefault(c => c.ProductoId == id);
        return dato?.Nombre ?? "Producto no encontrado";
    }

    public async Task Print()
    {
        await JS.InvokeVoidAsync("printPage");
    }

    void Volver()
    {
        navigation.NavigateTo("/Facturas");
    }
}
